html,body{
  height: 100%;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, rgba(1,1,88,0.82),rgb(1,1,29));
  transition: 1s all ease-in-out;
}
#init{
  margin-top: 2rem;
  background: indianred;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  color: aliceblue;
  cursor: pointer;
}
.desc p{
  color: rgb(133,153,168);
  margin: 0;
  font-weight: 600;
}
.text{
  font-size: 65px;
  font-weight: 800;
  color: cadetblue;
  margin: 0;
}
.parent{
  position: relative;
  height: 100vh;
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bot-img{
  width: 20rem;
  height: 20rem;
}
#test {
  position: fixed;
  top: 4rem;
  right: 8rem;
  display: none;
}

.child{
  box-shadow: 0 0 2px salmon;
  border-radius: 15px;
  height: 30rem;
  width: 25rem;
  margin: auto;
  background: white;
}
.header img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: 1px solid rgb(231,231,231);
  padding: 5px;
}
.header{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  background: white;
  width: 25rem;
  padding: 5px 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: 1;
  box-shadow: 0 0 2px rgb(175,175,175);
}
.h-child{
  display: flex;
  align-items: center;
}
.header span{
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.refBtn{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: none;
  border: none;
  border-radius: 50%;
  color: indianred;
  font-size: 18px;
  cursor: pointer;
}
.name{
  font-weight: 600;
}
.footer{
  position: relative;
  bottom: 0;
  width: 25rem;
  background: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: indianred;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 0 3px rgb(153,153,153);
  display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#chat-box{
  position: relative;
  top: 60px;
  padding: 8px 10px;
  font-size: 12px;
  height: 35.2rem;
  overflow: auto;
  background: rgb(224,241,253);
  text-align: center;
}



#chat-box .mess {
  max-width: 100%;
  background: #F7FCF6;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
}


#chat-box .mess-r {
  background: white;
}
#test{
  text-align: right;
  margin: 20px 0;
}
.rep{
  background: rgb(253,243,224);
  color: lightslategray;
  padding: 5px 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 14px;
  box-shadow: 0 0 5px rgb(211,211,211);
}
.opt{
  padding: 5px 20px;
  columns: lightsalmon;
  border: 1px solid blueviolet;
  border-radius: 1rem;
  margin: 0.3rem 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  background: white;
  text-align: center;
  font-size: 14px;
  color: blueviolet;
}
.link{
  text-decoration: none;
  display: block;
  text-align: center;
  color: aliceblue !important;
  background: blueviolet;
}
.m-link{
  text-decoration: none;
}
.link:active{
  background: white;
  border: 1px solid blueviolet;
  color: blueviolet;
}

.footer #start {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 120px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  background-color: #1ED760; 
  color: #fff;
  padding: 8px;
}
.footer #stop {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 120px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  background-color: #ff3b30;
  color: #fff;
  padding: 8px;
  margin-left: 8px;
}

.chat-footer #start:hover,
.chat-footer #start:active {
  background-color: #053819; 
}


.chat-footer #stop:hover {
  background-color: #d63022;
 
}

@media(max-width: 767px) {
  body {
    padding: 0 1rem;
  }
  .parent{
    position: relative;
    height: 100vh;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 

  #test {
    position: fixed;
    bottom: 0;
    
  }
}




